.catalogo {
    background-color:rgb(238, 236, 232);
    padding: 40px;
    text-align: center;
     
}

.catalogo h2 {
    color: #c66b5d;
    font-size: 16pt;
    margin-top: 20px;
    border-bottom: 2px solid #f4cfc3;
    display: inline-block;
}
.text1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12pt;
 }
/* Contenedor de productos */
.productos {
    background-color:rgb(238, 236, 232);
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin-top: 20px;
    border: none;          
    outline: none;         
    box-shadow: none; 
}

.producto {
    width: 250px;
    text-align: center;
}

/* Imagen con efecto hover */
.imagen-contenedor {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.imagen-contenedor img {
    
    width: 100%;
    border-radius: 15px;
    transition: transform 0.4s ease;
    
}

.info-hover {
    position: absolute;
    bottom: 0; /* El texto comenzará desde la parte inferior */
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(235, 231, 231);
    color: #382422;
    opacity: 0; /* Inicialmente invisible */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    transform: translateY(100%); /* Lo desplazamos completamente hacia abajo */
    transition: all 0.5s ease; /* Transición suave al aparecer */
}

.imagen-contenedor:hover .info-hover {
    opacity: 1; /* Ahora sí es visible */
    transform: translateY(0); /* Sube desde abajo hacia su posición original */
}

.imagen-contenedor:hover img {
    transform: scale(1.1);
}

.producto .nombre {
    background-color: #e7bebe;
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: bold;
    color: #7c4138;
}